# Android generated
bin/
gen/

# Ant
build.xml
local.properties

# Maven
target/
pom.xml.*
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/

.settings
.checkstyle
eclipsebin


# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
classes
obj

# Mac
.DS_Store

# Ignore gradle files
.gradle/
build/

# Private
signing.properties

#proguard
mapping.txt
seeds.txt
unused.txt
dump.txt

# Sign
gradle.properties
class_files.txt